html {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 111, 0), rgb(92, 0, 145));
}

main {
    height: 100%;
}

h1{
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 10px;
    text-align: center;
    color: rgb(92, 0, 145);
    text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #49ff18, 0 0 20px #49FF18, 0 0 25px #49FF18, 0 0 30px #49FF18, 0 0 35px #49ff18;
}

h2{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 20%;
    top: 65%;
    text-align: center;
    color: rgb(0, 111, 0);
    text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #49ff18, 0 0 20px #49FF18, 0 0 25px #49FF18, 0 0 30px #49FF18, 0 0 35px #49ff18;
}